<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lg.sys.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lg.sys.entity.Permission">
        <id column="ID" property="id" />
        <result column="PERMISSION_NAME" property="permissionName" />
        <result column="PERMISSION_TYPE" property="permissionType" />
        <result column="DESCRIPTION" property="description" />
        <result column="MODULE" property="module" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PERMISSION_NAME, PERMISSION_TYPE, DESCRIPTION, MODULE, CREATE_TIME, DELETED
    </sql>

</mapper>
